In [1]:
import eikon as ek
import configparser as cp

You should save a text file with **filename** `eikon.cfg` having the following contents:

    [eikon]
    app_id = YOUR_APP_ID_HERE
    
This file should be readily availble (e.g. in the current working directory) for the next steps.

In [2]:
cfg = cp.ConfigParser()
cfg.read('eikon.cfg')  # adjust for different file location

['eikon.cfg']

In [3]:
ek.set_app_key(cfg['eikon']['app_id']) #set_app_id function being deprecated

In [4]:
#data, err = ek.get_data('0#.SZSA1',['TR.PriceClose','TR.InvestorFullName'])

In [5]:
#data

In [6]:
#help(ek.get_data)

In [7]:
main_chain = '0#.FTSE'
#main_chain = '0#.SPX'
main_chain = '0#.HSI'
#main_chain = '0#.SETI'
#main_chain = '0#.JTOPI' #FTSE/JSE SA TOP 40 COMPANIES

In [8]:
data, err = ek.get_data(main_chain,['TR.PriceClose','TR.CompanyName'])

d:\project\compilers\miniconda3\envs\globalcompanysale\lib\site-packages\eikon\data_grid.py:244: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  data = pd.np.array([[get_data_value(value) for value in row] for row in data_dict['data']])

In [9]:
data

   Instrument  Price Close                                 Company Name
0     2388.HK        26.25                   BOC Hong Kong Holdings Ltd
1     2318.HK        89.05      Ping An Insurance Group Co of China Ltd
2     0941.HK        62.50                             China Mobile Ltd
3     0175.HK        14.30                Geely Automobile Holdings Ltd
4     0002.HK        84.20                             CLP Holdings Ltd
5     0388.HK       259.60         Hong Kong Exchanges and Clearing Ltd
6     0003.HK        15.26               Hong Kong and China Gas Co Ltd
7     0019.HK        71.20                            Swire Pacific Ltd
8     1113.HK        49.15                        CK Asset Holdings Ltd
9     2018.HK        53.10                AAC Technologies Holdings Inc
10    0011.HK       150.80                           Hang Seng Bank Ltd
11    0001.HK        67.80                    CK Hutchison Holdings Ltd
12    0688.HK        27.55         China Overseas Land & Investment Ltd
13    3328.HK         5.21                Bank of Communications Co Ltd
14    1398.HK         5.49  Industrial and Commercial Bank of China Ltd
15    1109.HK        38.30                     China Resources Land Ltd
16    2319.HK        29.60                   China Mengniu Dairy Co Ltd
17    0017.HK        10.16                 New World Development Co Ltd
18    0151.HK         6.33                 Want Want China Holdings Ltd
19    0288.HK         8.45                                 WH Group Ltd
20    2007.HK        10.90               Country Garden Holdings Co Ltd
21    1093.HK        18.72                CSPC Pharmaceutical Group Ltd
22    0386.HK         4.01              China Petroleum & Chemical Corp
23    0669.HK        67.50                 Techtronic Industries Co Ltd
24    1299.HK        77.65                                AIA Group Ltd
25    0762.HK         6.28                   China Unicom Hong Kong Ltd
26    0700.HK       406.20                         Tencent Holdings Ltd
27    1088.HK        14.22                  China Shenhua Energy Co Ltd
28    2628.HK        18.56                  China Life Insurance Co Ltd
29    1038.HK        54.45               CK Infrastructure Holdings Ltd
30    1928.HK        35.95                              Sands China Ltd
31    1997.HK        36.55     Wharf Real Estate Investment Company Ltd
32    0939.HK         6.53                 China Construction Bank Corp
33    2382.HK       132.00        Sunny Optical Technology Group Co Ltd
34    0857.HK         3.09                            PetroChina Co Ltd
35    0267.HK         9.14                                    CITIC Ltd
36    0016.HK       113.70                  Sun Hung Kai Properties Ltd
37    0101.HK        17.46                     Hang Lung Properties Ltd
38    1177.HK        12.34                   Sino Biopharmaceutical Ltd
39    0066.HK        43.45                                 MTR Corp Ltd
40    2313.HK       106.80    Shenzhou International Group Holdings Ltd
41    0823.HK        74.55            Link Real Estate Investment Trust
42    0006.HK        56.60                    Power Assets Holdings Ltd
43    1044.HK        61.85       Hengan International Group Company Ltd
44    3988.HK         3.14                            Bank of China Ltd
45    0883.HK        11.06                                    CNOOC Ltd
46    0083.HK        10.70                             Sino Land Co Ltd
47    0012.HK        36.85            Henderson Land Development Co Ltd
48    0005.HK        51.80                            HSBC Holdings PLC
49    0027.HK        52.65               Galaxy Entertainment Group Ltd

In [10]:
data.head()

  Instrument  Price Close                             Company Name
0    2388.HK        26.25               BOC Hong Kong Holdings Ltd
1    2318.HK        89.05  Ping An Insurance Group Co of China Ltd
2    0941.HK        62.50                         China Mobile Ltd
3    0175.HK        14.30            Geely Automobile Holdings Ltd
4    0002.HK        84.20                         CLP Holdings Ltd

In [11]:
rics = list(data.Instrument.values)

In [12]:
rics

['2388.HK',
 '2318.HK',
 '0941.HK',
 '0175.HK',
 '0002.HK',
 '0388.HK',
 '0003.HK',
 '0019.HK',
 '1113.HK',
 '2018.HK',
 '0011.HK',
 '0001.HK',
 '0688.HK',
 '3328.HK',
 '1398.HK',
 '1109.HK',
 '2319.HK',
 '0017.HK',
 '0151.HK',
 '0288.HK',
 '2007.HK',
 '1093.HK',
 '0386.HK',
 '0669.HK',
 '1299.HK',
 '0762.HK',
 '0700.HK',
 '1088.HK',
 '2628.HK',
 '1038.HK',
 '1928.HK',
 '1997.HK',
 '0939.HK',
 '2382.HK',
 '0857.HK',
 '0267.HK',
 '0016.HK',
 '0101.HK',
 '1177.HK',
 '0066.HK',
 '2313.HK',
 '0823.HK',
 '0006.HK',
 '1044.HK',
 '3988.HK',
 '0883.HK',
 '0083.HK',
 '0012.HK',
 '0005.HK',
 '0027.HK']

In [13]:
#rics = rics[:100]
#rics

In [14]:
esg_data, err = ek.get_data(rics, ['TR.TRESGScore','TR.TRESGScoreGrade','TR.ESGPeriodLastUpdateDate'])

In [15]:
esg_data

   Instrument  ESG Score ESG Score Grade ESG Period Last Update Date
0     2388.HK  72.168352              B+        2019-12-13T00:00:00Z
1     2318.HK  59.642328               B        2020-02-07T00:00:00Z
2     0941.HK  70.616447              B+        2020-02-14T00:00:00Z
3     0175.HK  60.565939               B        2020-01-10T00:00:00Z
4     0002.HK  86.076980               A        2020-02-21T00:00:00Z
5     0388.HK  69.720382              B+        2020-02-07T00:00:00Z
6     0003.HK  74.474359              B+        2019-12-13T00:00:00Z
7     0019.HK  62.407622               B        2020-02-14T00:00:00Z
8     1113.HK  51.891327              B-        2020-01-17T00:00:00Z
9     2018.HK  74.453055              B+        2020-01-10T00:00:00Z
10    0011.HK  82.976963              A-        2020-02-07T00:00:00Z
11    0001.HK  72.962071              B+        2020-02-07T00:00:00Z
12    0688.HK  73.452450              B+        2020-02-14T00:00:00Z
13    3328.HK  65.356806               B        2020-02-28T00:00:00Z
14    1398.HK  75.578861              A-        2020-02-28T00:00:00Z
15    1109.HK  29.403000              C-        2020-02-21T00:00:00Z
16    2319.HK  58.953352               B        2020-02-21T00:00:00Z
17    0017.HK  71.400574              B+        2020-02-07T00:00:00Z
18    0151.HK  42.520075              C+        2020-02-28T00:00:00Z
19    0288.HK  64.873280               B        2020-02-28T00:00:00Z
20    2007.HK  57.768191              B-        2020-02-07T00:00:00Z
21    1093.HK  38.995517               C        2019-12-20T00:00:00Z
22    0386.HK  68.046656              B+        2020-02-28T00:00:00Z
23    0669.HK  68.740672              B+        2019-12-13T00:00:00Z
24    1299.HK  72.984106              B+        2020-02-21T00:00:00Z
25    0762.HK  61.242708               B        2020-02-14T00:00:00Z
26    0700.HK  68.974783              B+        2020-02-28T00:00:00Z
27    1088.HK  71.334574              B+        2019-12-13T00:00:00Z
28    2628.HK  71.379986              B+        2020-02-21T00:00:00Z
29    1038.HK  48.804526              C+        2020-01-03T00:00:00Z
30    1928.HK  71.880565              B+        2020-02-28T00:00:00Z
31    1997.HK  65.550657               B        2020-01-03T00:00:00Z
32    0939.HK  75.464203              A-        2019-12-13T00:00:00Z
33    2382.HK  53.895695              B-        2019-12-13T00:00:00Z
34    0857.HK  65.725145               B        2020-01-24T00:00:00Z
35    0267.HK  54.089753              B-        2020-01-31T00:00:00Z
36    0016.HK  65.187700               B        2020-02-07T00:00:00Z
37    0101.HK  67.846165              B+        2019-12-13T00:00:00Z
38    1177.HK  51.270004              B-        2020-02-14T00:00:00Z
39    0066.HK  71.248895              B+        2019-12-20T00:00:00Z
40    2313.HK  42.653549              C+        2019-12-13T00:00:00Z
41    0823.HK  73.910221              B+        2020-02-07T00:00:00Z
42    0006.HK  43.468235              C+        2020-02-14T00:00:00Z
43    1044.HK  52.644491              B-        2020-02-28T00:00:00Z
44    3988.HK  70.547040              B+        2020-02-14T00:00:00Z
45    0883.HK  58.860589               B        2020-02-28T00:00:00Z
46    0083.HK  62.389631               B        2019-12-17T00:00:00Z
47    0012.HK  55.835069              B-        2019-12-13T00:00:00Z
48    0005.HK  87.153976               A        2020-02-28T00:00:00Z
49    0027.HK  56.301431              B-        2020-02-28T00:00:00Z

In [16]:
company_data, err = ek.get_data(rics,['TR.HeadquartersCity',
                                      'TR.RegistrarCity',
                                      'TR.CorCompanyCountry',
                                      'TR.HQMinorRegion',
                                      'TR.HeadquartersRegion'])

In [17]:
company_data

,Instrument,City of Headquarters,Registrar City,Company Location Country,Minor Region of Headquarters,Region of Headquarters
0,2388.HK,None,,Hong Kong,Eastern Asia,Asia
1,2318.HK,SHENZHEN,,China,Eastern Asia,Asia
2,0941.HK,Beijing,,China,Eastern Asia,Asia
3,0175.HK,None,,Hong Kong,Eastern Asia,Asia
4,0002.HK,None,,Hong Kong,Eastern Asia,Asia
5,0388.HK,None,,Hong Kong,Eastern Asia,Asia
6,0003.HK,None,,Hong Kong,Eastern Asia,Asia
7,0019.HK,None,,Hong Kong,Eastern Asia,Asia
8,1113.HK,None,,Hong Kong,Eastern Asia,Asia
9,2018.HK,SHENZHEN,,China,Eastern Asia,Asia
10,0011.HK,None,,Hong Kong,Eastern Asia,Asia
11,0001.HK,None,,Hong Kong,Eastern Asia,Asia
12,0688.HK,None,,Hong Kong,Eastern Asia,Asia
13,3328.HK,SHANGHAI,,China,Eastern Asia,Asia
14,1398.HK,Beijing,,China,Eastern Asia,Asia
15,1109.HK,None,,Hong Kong,Eastern Asia,Asia
16,2319.HK,None,,Hong Kong,Eastern Asia,Asia
17,0017.HK,None,,Hong Kong,Eastern Asia,Asia
18,0151.HK,SHANGHAI,,China,Eastern Asia,Asia
19,0288.HK,None,,Hong Kong,Eastern Asia,Asia
20,2007.HK,FOSHAN,,China,Eastern Asia,Asia
21,1093.HK,Shijiazhuang,,China,Eastern Asia,Asia
22,0386.HK,BEIJING,,China,Eastern Asia,Asia
23,0669.HK,None,,Hong Kong,Eastern Asia,Asia
24,1299.HK,None,,Hong Kong,Eastern Asia,Asia
25,0762.HK,None,,Hong Kong,Eastern Asia,Asia
26,0700.HK,Shenzhen,,China,Eastern Asia,Asia
27,1088.HK,BEIJING,,China,Eastern Asia,Asia
28,2628.HK,BEIJING,,China,Eastern Asia,Asia
29,1038.HK,None,,Hong Kong,Eastern Asia,Asia
30,1928.HK,None,,Macau,Eastern Asia,Asia
31,1997.HK,None,,Hong Kong,Eastern Asia,Asia
32,0939.HK,BEIJING,,China,Eastern Asia,Asia
33,2382.HK,NINGBO,,China,Eastern Asia,Asia
34,0857.HK,BEIJING,,China,Eastern Asia,Asia
35,0267.HK,None,,Hong Kong,Eastern Asia,Asia
36,0016.HK,None,,Hong Kong,Eastern Asia,Asia
37,0101.HK,None,,Hong Kong,Eastern Asia,Asia
38,1177.HK,None,,Hong Kong,Eastern Asia,Asia
39,0066.HK,None,,Hong Kong,Eastern Asia,Asia
40,2313.HK,NINGBO,,China,Eastern Asia,Asia
41,0823.HK,None,,Hong Kong,Eastern Asia,Asia
42,0006.HK,None,,Hong Kong,Eastern Asia,Asia
43,1044.HK,QUANZHOU,,China,Eastern Asia,Asia
44,3988.HK,BEIJING,,China,Eastern Asia,Asia
45,0883.HK,Beijing,,China,Eastern Asia,Asia
46,0083.HK,None,,Hong Kong,Eastern Asia,Asia
47,0012.HK,None,,Hong Kong,Eastern Asia,Asia
48,0005.HK,LONDON,Bristol,United Kingdom,Northern Europe,Europe
49,0027.HK,None,,Hong Kong,Eastern Asia,Asia

In [18]:
#sale_data, err = ek.get_data(rics, ['TR.PriceClose','TR.Price52WeekHigh','TR.Price52WeekLow','TR.BIDPRICE','TR.ASKPRICE'])

In [19]:
#sale_data

In [20]:
test_rics = rics[:5]

In [21]:
segments = ek.get_data(test_rics, ['TR.BGS.GeoTotalRevenue.segmentName'])

In [22]:
#revenues = ek.get_data(test_rics, ['TR.BGS.GeoTotalRevenue'], debug=True,raw_output=True)
revenues = ek.get_data(test_rics, ['TR.BGS.GeoTotalRevenue'])

In [23]:
#ek.get_data('AH.BK', ['TR.BGS.GeoTotalRevenue.segmentName', 'TR.BGS.GeoTotalRevenue','TR.BGS.BusTotalRevenue'])

In [24]:
segments

(   Instrument               Segment Name
 0     2388.HK
 1     2318.HK
 2     0941.HK
 3     0175.HK                        PRC
 4     0175.HK             Eastern Europe
 5     0175.HK                     Africa
 6     0175.HK                Middle East
 7     0175.HK  Central and South America
 8     0175.HK            Other countries
 9     0175.HK              Segment Total
 10    0175.HK         Consolidated Total
 11    0002.HK                           ,
 None)

In [25]:
revenues

(   Instrument  Geographic Total Revenues (Calculated)
 0     2388.HK                                     NaN
 1     2318.HK                                     NaN
 2     0941.HK                                     NaN
 3     0175.HK                            1.051573e+11
 4     0175.HK                            6.182810e+08
 5     0175.HK                            1.908180e+08
 6     0175.HK                            4.881350e+08
 7     0175.HK                            1.382200e+08
 8     0175.HK                            2.399000e+06
 9     0175.HK                            1.065951e+11
 10    0175.HK                            1.065951e+11
 11    0002.HK                                     NaN,
 None)

In [26]:
ek.get_symbology('STAN.L',from_symbol_type='RIC', to_symbol_type='ISIN', bestMatch=False)

                 ISINs                 bestMatch  symbol
STAN.L  [GB0004082847]  {'ISIN': 'GB0004082847'}  STAN.L

In [27]:
ek.get_data('2388.HK', ['TR.BGS.GeoTotalRevenue.segmentName', 'TR.BGS.GeoTotalRevenue'])

(  Instrument  Segment Name  Geographic Total Revenues (Calculated)
 0    2388.HK           NaN                                     NaN,
 None)

In [28]:
ek.get_data('VOD.L', ['TR.BGS.GeoTotalRevenue.segmentName', 'TR.BGS.GeoTotalRevenue'])

(   Instrument               Segment Name  \
 0       VOD.L                    Germany
 1       VOD.L             United Kingdom
 2       VOD.L               Other Europe
 3       VOD.L                      Italy
 4       VOD.L                      Spain
 5       VOD.L                    Vodacom
 6       VOD.L                 Other AMAP
 7       VOD.L              Segment Total
 8       VOD.L  Intercompany Eliminations
 9       VOD.L           Other operations
 10      VOD.L           Common Functions
 11      VOD.L         Consolidated Total

     Geographic Total Revenues (Calculated)
 0                              10928000000
 1                               6783000000
 2                               5087000000
 3                               5864000000
 4                               4664000000
 5                               5660000000
 6                               4864000000
 7                              43850000000
 8                              -1702000000
 9                               1324000000
 10                               194000000
 11                             43666000000  ,
 None)

In [29]:
#7974.T Nintendo
ek.get_data('7974.T', ['TR.BGS.GeoTotalRevenue.segmentName', 'TR.BGS.GeoTotalRevenue','TR.PriceClose','TR.CompanyName'])

(  Instrument            Segment Name  Geographic Total Revenues (Calculated)  \
 0     7974.T                   Japan                            265722000000
 1     7974.T                  Europe                            304552000000
 2     7974.T       Americas (Region)                            528895000000
 3     7974.T  Undetermined Geography                            101389000000
 4     7974.T           Segment Total                           1200558000000
 5     7974.T      Consolidated Total                           1200558000000

    Price Close     Company Name
 0      37920.0  Nintendo Co Ltd
 1          NaN
 2          NaN
 3          NaN
 4          NaN
 5          NaN                   ,
 None)

In [30]:
#6758.T Sony
ek.get_data('6758.T', ['TR.BGS.GeoTotalRevenue.segmentName', 'TR.BGS.GeoTotalRevenue','TR.PriceClose','TR.CompanyName'])

(  Instrument        Segment Name  Geographic Total Revenues (Calculated)  \
 0     6758.T               Japan                           2591784000000
 1     6758.T       United States                           1982135000000
 2     6758.T              Europe                           1862166000000
 3     6758.T               China                            770416000000
 4     6758.T       Other Regions                            546993000000
 5     6758.T        Asia/Oceania                            912193000000
 6     6758.T       Segment Total                           8665687000000
 7     6758.T  Consolidated Total                           8665687000000

    Price Close Company Name
 0       6929.0    Sony Corp
 1          NaN
 2          NaN
 3          NaN
 4          NaN
 5          NaN
 6          NaN
 7          NaN               ,
 None)

In [31]:
#6460.T Sega
ek.get_data('6460.T', ['TR.BGS.GeoTotalRevenue.segmentName', 'TR.BGS.GeoTotalRevenue'])

(  Instrument        Segment Name  Geographic Total Revenues (Calculated)
 0     6460.T               Japan                            277903000000
 1     6460.T    Northern America                             33373000000
 2     6460.T              Europe                             10937000000
 3     6460.T               Other                              9433000000
 4     6460.T       Segment Total                            331646000000
 5     6460.T  Consolidated Total                            331646000000,
 None)

In [32]:
#0388.HK
ek.get_data('0388.HK', ['TR.BGS.GeoTotalRevenue.segmentName', 'TR.BGS.GeoTotalRevenue'])

(  Instrument  Segment Name  Geographic Total Revenues (Calculated)
 0    0388.HK           NaN                                     NaN,
 None)

In [33]:
#041510.KQ SM Entertainment
ek.get_data('041510.KQ', ['TR.BGS.GeoTotalRevenue.segmentName', 'TR.BGS.GeoTotalRevenue','TR.PriceClose','TR.CompanyName'])

(  Instrument        Segment Name  Geographic Total Revenues (Calculated)  \
 0  041510.KQ         South Korea                            370525256000
 1  041510.KQ               Japan                            166892278000
 2  041510.KQ               Other                             74809945000
 3  041510.KQ       Segment Total                            612227479000
 4  041510.KQ  Consolidated Total                            612227479000

    Price Close             Company Name
 0      29700.0  SM Entertainment Co Ltd
 1          NaN
 2          NaN
 3          NaN
 4          NaN                           ,
 None)